.main-wrapper {
    .container {
        .content-box {
            background-color: white;
            box-shadow: 0px 0px 27px #45316124;
            border-radius: 25px;
            width: 60%;
        }
    }
}