form {
    .form-group {
        .form-label {
            font-weight: bold;
        }
    }
    .prize-box {
        display: flex;

        .mb-3.input-group {
            flex: 0 0 30%;
            padding: 0 1em;
            max-width: 30%;

            .uploadLabel {
                width: 100%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                margin: 0;

                span {
                    background-color: #e9ecef;
                    border: 1px solid #ced4da !important;
                    width: 100%;
                    display: block;
                    text-align: center;
                    height: 38px;
                    line-height: 38px;
                    cursor: pointer;
                }
            }
        }
        .delete-button {
            line-height: 70px;

            svg {
                cursor: pointer;
            }
        }
    }

    .react-datepicker-popper {
        z-index: 100 !important;
    }
}