form {
    .form-group {
        .form-label {
            font-weight: bold;
        }
            
        #rewardImg, #rewardGlobalImg, #rewardPotImg, #rewardBannerImg {
            color:transparent;
        }

        
    .uploadLabel {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 0;
        max-width: 150px;
    }

    svg {
        cursor: pointer;
    }

    .prizes-header {
        border-bottom: 1px solid #ccc;
        padding-bottom: 1rem;
    }

    .prize-box {
        display: flex;

        .mb-3.input-group {
            flex: 0 0 33%;
            padding: 0 1em;

            &:first-child {
                padding-left: 0;
            }

            .reward-currency {
                max-height: 38px;
            }
        }
        .delete-button {
            line-height: 70px;
            color: red;
        }
    }

    .react-datepicker-popper {
        z-index: 100 !important;
        width: 400px;
    }
    }

    .images-box {
        .images-border {
            border: 1px dashed #6ac6db;
        }
    }

}