form {
    .form-group {
        .form-label {
            font-weight: bold;
        }
    }

    
    #rewardImg, #rewardGlobalImg, #rewardPotImg {
        color:transparent;
    }
    
    .uploadLabel {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 0;
        max-width: 150px;
    }


    .prize-box {
        display: flex;

        .mb-3.input-group {
            flex: 0 0 33%;
            padding: 0 1em;

            .reward-currency {
                max-height: 38px;
            }
        }
        .delete-button {
            line-height: 70px;

            svg {
                cursor: pointer;
            }
        }
    }

    .react-datepicker-popper {
        z-index: 100 !important;
    }
}